* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(206, 206, 206);
    font-size:14px;
}

div {
    margin: 50px 40px;
}

.id {
    color: rgb(22, 173, 22);
}

.mingw {
    color: rgb(161, 28, 179);
}

.path {
    color: rgb(204, 179, 35);
}

.branch {
    color: rgb(28, 161, 179);
}