* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #4c53af;
  color: white;
  cursor: pointer;
}


.profile {
  max-width: 618px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FCFCFC;
}

.hobby {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.tmi {
  margin: 0px;
  max-width: 40px;
  border: none;
  cursor: pointer;
}