@font-face {
  font-family: 'Cafe24Nyangi-B-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-B-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Nyangi-W-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-W-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* * {
  outline: 1px solid gray;
} */

html {
  font-size: 62.5%;
}

a {
  /* 링크 기본 스타일 지우기 */
  text-decoration: none;
  color: black;
}

button {
  /* 버튼 기본 스타일 지우기 */
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title{
  text-align: center;
  margin: 10px 0;
  padding: 20px;
  font-size: 5rem;
  font-family: 'Cafe24Nyangi-W-v1.0';
}

#mode-switch {
  margin: 10px 0 20px;
  font-family: 'Ownglyph_ParkDaHyun';
}

#main {
  display: flex;
  justify-content: center;
}

#wrap {
  box-sizing: border-box;
  max-width: 800px;
  min-width: 500px;
}

.section {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2.5px solid;
}

#profile .section-header {
  border-top: 2.5px solid;
}

.section-header {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2.5px solid;
  padding: 10px;
  font-family: 'Cafe24Nyangi-B-v1.0';
  font-size: 3rem;
}

.contents {
  padding: 10px 20px;
  font-size: 2rem;
  font-family: 'Ownglyph_ParkDaHyun';
  letter-spacing: 3px;
  line-height: 35px;
}

.text-content {
  display: flex;
}

.label {
  font-weight: 900;
  width: 18%;
}

#portfolios .contents {
  display: grid;
  grid-template:
    1fr/
    1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  place-items: center;
}

.portfolio {
  font-family: 'Ownglyph_ParkDaHyun';
  border-radius: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  padding: 20px;
  max-width: 80px;
  width: 100%;
  text-align: center;
}

/* .active:hover {
  color: #a1a18b;
} */

/* 다크모드 */

body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode a {
  color: white
}

body.dark-mode .portfolio {
  background-color: white;
  color: black;
}

body.dark-mode #mode-switch {
  color: white
}