@font-face {
  font-family: 'Cafe24Nyangi-B-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-B-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Nyangi-W-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-W-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'insungitCutelivelyjisu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* * {
  outline: 1px solid gray;
} */

html {
  font-size: 62.5%;
}

header {
  text-align: center;
  padding: 30px;
  font-size: 5rem;
  color: black;
  font-family: 'Cafe24Nyangi-W-v1.0';
}

main {
  display: flex;
  justify-content: center;
}

/* border-image-slice:
95 95 95 95;
border-image-width:
10px 10px 10px 10px;
border-image-outset:
0px 0px 0px 0px;
border-image-repeat:
stretch stretch; */

#main-wrap {
  display: flex;
  justify-content: center;
  max-width: 1000px;
}

/* main-wrap */

#profile-section {
  width: 30%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#right-section {
  width: 70%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* profile-section */
#profile-img {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid transparent;
  /* border-image: url('./img/border.jpeg') 95 / 10px / 1.5px round; */
  border-radius: 20px;
}

#profile-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.proflie-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border-radius: 10px;
  border: 2px solid black; */
  /* border-image: url('./img/border.jpeg') 95 / 8px / 1.5px round; */
}


.profile-content {
  box-sizing: border-box;
  padding: 10px 20px;
  /* border-radius: 10px;
  border: 2px solid black; */
  /* border-image: url('./img/border.jpeg') 95 / 8px / 1.5px round; */
  font-size: 1.5rem;
  font-family: 'insungitCutelivelyjisu';
  letter-spacing: 2px;
  z-index: 1;
  overflow-wrap: anywhere;
  line-height: 20px;
}

/* right-section */

.right-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2.5px solid black;
  /* border-image: url('./img/border.jpeg') 95 / 8px / 1.5px round; */
  border-radius: 20px;
}

.right-contents div {
  border: none;
  border-radius: 10px;
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-contents span {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'insungitCutelivelyjisu';
}