@font-face {
  font-family: 'Cafe24Nyangi-B-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-B-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Nyangi-W-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-W-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'insungitCutelivelyjisu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* * {
  outline: 1px solid gray;
} */

html {
  font-size: 62.5%;
}

header {
  text-align: center;
  padding: 30px;
  font-size: 5rem;
  color: black;
  font-family: 'Cafe24Nyangi-W-v1.0';
}

#main {
  display: flex;
  justify-content: center;
}

#wrap {
  box-sizing: border-box;
  max-width: 800px;
  min-width: 500px;
  /* border: 2.5px solid black; */
  /* border-radius: 12px; */
}

.section {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2.5px solid black;
}

#profile-header {
  border-top: 2.5px solid black;
}

.section-header {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2.5px solid black;
  padding: 10px;
  font-family: 'Cafe24Nyangi-B-v1.0';
  font-size: 3rem;
}

.contents {
  padding: 10px 20px;
  font-size: 2rem;
  font-family: 'Ownglyph_ParkDaHyun';
  letter-spacing: 3px;
  line-height: 35px;
}

.text-content {
  display: flex;
}

.label {
  font-weight: 900;
  width: 18%;
}

#portfolios {
  display: grid;
  grid-template:
    1fr/
    1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  place-items: center;
}

.portfolio {
  font-family: 'Ownglyph_ParkDaHyun';
  border-radius: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  padding: 20px;
  max-width: 80px;
  width: 100%;
  text-align: center;
}

